$header-height: 60px;

.header-bar {
  min-height: $header-height;
  max-height: $header-height;
  padding: 10px;
  border-bottom: 1px solid gray;
  box-shadow: 1px 2px 3px gray;
  background-color: white;
}