body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.content {
  height: 92vh;
  margin-right: 0;
}


.public-DraftEditor-content {
  height: 82vh !important;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.editor-content {
  border: 1px solid gray;
  min-height: 6em;;
}